.circle_no {
  min-width: 80px;
  width: 80px;
  height: 80px;
  background-color: lightgray;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle_ok {
  min-width: 80px;
  width: 80px;
  height: 80px;
  background-color: #007bff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sipka {
  min-width: 0px;
}

.form-select {
  width: auto;
}

.input-group-text {
  display: flex;
  justify-content: center;
}
